@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: rgb(227, 252, 250);
}

#container{
  width: 100%;
  height: 1000px;
  margin: auto;
}

#wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  
}


img[alt = "share_box"]{
  position: absolute;
  display: none;
  top:50%;
  left: 50%;
  margin-top: -35px;
  margin-left: 75px;
  z-index: 101;
}
img[alt = "facebook"]{
  position:absolute;
  display: none;
  cursor: pointer;
  top:50%;
  left: 50%;
  margin-top: -17px;
  margin-left: 90px;
  z-index: 101;
}

img[alt = "twitch"]{
  position:absolute;
  display: none;
  cursor: pointer;
  top:50%;
  left: 50%;
  margin-top: -17px;
  margin-left: 140px;
  z-index: 101;
}

img[alt = "gmail"]{
  position:absolute;
  display: none;
  cursor: pointer;
  top:50%;
  left: 50%;
  margin-top: -17px;
  margin-left: 190px;
  z-index: 101;
}

li{
  list-style: none;
  
}

img[alt = "top_pattern"]{
  position: absolute;
  left: -600px;
  top: -800px;
  z-index: 99;
}

img[alt = "bottom_pattern"]{
  position: absolute;
  right: -400px;
  bottom: -1200px;
  z-index: 99;
}

/* #container{
  width: 100%;
  height: 850px;
  padding-top: 10%;
  background-color: salmon;
  overflow: hidden;
} */

#profile{
  /* margin-top: 10px; */
  width: 350px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -200px;
  
}

#wrap_profile{
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Playfair Display', serif;
  z-index: 100;
}

#top{
  background: white;
  width: 100%;
  height: 300px;
  position: relative;
}

.top-disign{
  width: 100%;
  height: 138px;
}

#top img[alt = "person"]{
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 78px;
  left: 125px
}
img[alt = "heart_empty"]{
  position:absolute;
  display: block;
  cursor: pointer;
  right: 50px;
}
img[alt = "heart_full"]{
  position:absolute;
  display: none;
  cursor: pointer;
  right: 50px;
}
img[alt = "share_icon"]{
  position:absolute;
  cursor: pointer;
  right: 13px;
}


/* img[alt = "heart_full"]:hover{
  cursor: pointer;
} */



.mid-info{
  padding-top: 60px;
  text-align: center;
}

.mid-info h3 span{
  margin-left: 10px;
  color: rgb(189, 188, 190);
}

.mid-info p{
  margin-top: 10px;
  color: rgb(189, 188, 190);
  font-size: 0.9em;
  font-style: border;
}

#bottom{
  background: white;
  width: 100%;
  height: 100px;
  border-top: 1px solid rgb(189, 188, 190);
}

#bottom .num{
  font-family: 'Playfair Display', serif;
  padding-top: 30px;
  margin-left: 70px;
}

#bottom .num-info{
  margin-left: 65px;
}

#bottom ul li{
  float: left;
}

.num li{
  font-size: 1.3em;
  font-style: border;
  margin-right: 40px;
}

.num-info li{
  font-size: 0.8em;
  color: rgb(189, 188, 190);
  margin-top: 5px;
}

.num-info li:not(:last-child){
  margin-right: 35px;
}

.num-info li:last-child{
  margin-left: 15px;
}

@media (max-width: 767px){
  #container{
    width: 100%;
    margin: auto;
  }
  
  #wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    
  }
  
  img[alt = "share_box"]{
    position: absolute;
    display: none;
    top:50%;
    left: 50%;
    margin-top: -85px;
    margin-left: 25px;
    z-index: 101;
  }
  img[alt = "facebook"]{
    position:absolute;
    display: none;
    top:50%;
    left: 50%;
    margin-top: -67px;
    margin-left: 40px;
    z-index: 101;
  }
  
  img[alt = "twitch"]{
    position:absolute;
    display: none;
    top:50%;
    left: 50%;
    margin-top: -67px;
    margin-left: 90px;
    z-index: 101;
  }
  
  img[alt = "gmail"]{
    position:absolute;
    display: none;
    top:50%;
    left: 50%;
    margin-top: -67px;
    margin-left: 140px;
    z-index: 101;
  }
  #profile{
    /* margin-top: 10px; */
    width: 300px;
    height: 350px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -200px;
    
  }

  #wrap_profile{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Pacifico', cursive;
    z-index: 100;
  }
  #top{
    background: white;
    width: 100%;
    height: 250px;
    position: relative;
  }

  .top-disign{
    overflow: hidden;
    width: 100%;
    height: 100px;
  }

  #top img[alt = "person"]{
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    top: 48px;
    left: 100px
  }

  img[alt = "heart_empty"]{
    position:absolute;
    display: block;
    right: 50px;
    bottom: 10px;
  }
  img[alt = "heart_full"]{
    position:absolute;
    display: none;
    right: 50px;
    bottom: 10px;
  }
  img[alt = "share_icon"]{
    position:absolute;
    right: 13px;
    bottom: 10px;
  }

  #bottom .num{
    margin-left: 55px;
    padding-top: 30px;
  }

  .num li{
    font-size: 1.1em;
    font-style: border;
    margin-right: 40px;
  }
  
  #bottom .num-info{
    margin-left: 45px;
  }
  .num-info li:last-child{
    margin-left: 10px;
  }

  img[alt = "top_pattern"]{
    position: absolute;
    left: -1000px;
    top: -850px;
  }
  
  img[alt = "bottom_pattern"]{
    position: absolute;
    right: -800px;
    bottom: -1200px;
  }

  

}

